/*reset*/
* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*container*/
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

/*sub*/
.sub {
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #7BBD00;
  margin-bottom: 20px;
}

.sub::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 12px;
  background: #7BBD00;
  margin-right: 6px;
}

@media (max-width: 480px) {
  .sub {
    font-size: 0.75em;
  }
  
  .sub::before {
    width: 3px;
    height: 8px;
  }
}


/*header*/
.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  position: relative;
}

/*menu*/
.menu {
  display: flex;
  align-items: center;
  transition: all .4s;
}

.menu li + li {
  margin-left: 20px;
}

.menu li a {
  font-family: 'Nunito', sans-serif;
  font-size: 1.1em;
  color: #4D70FF;
  padding: 10px;
  transition: all .4s;
}

.menu li a:hover {
  color: #8099FF;
}

.btn-produtos {
  border: 2px solid #FFE640;
  border-radius: 5px;
}

.header label, input {
  display: none;
}

/*menu hamburguer*/
@media (max-width: 760px) {
  .menu li + li {
    margin: 0;
  }

  .menu {
    position: absolute;
    top: -500%;
    right: 20px;
    flex-direction: column;
    background: #4D70FF;
    padding: 20px 10px;
    border-radius: 3px;
    text-align: center;
  }

  .menu li a {
    color: white;
  }

  .menu li a:hover {
    color: #FFE640; #FFE640;
  }
  
  .menu li:first-child {
    margin: 10px 0 20px 0;
  }

  .menu li a {
    padding: 10px 50px;
  }

  .menu li + li:before {
    content: '';
    display: block;
    width: 200px;
    height: 2px;
    background: #8099FF;
    margin: 10px auto;
  }

  .header label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #4D70FF;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }

  .header label span {
    position: absolute;
    width: 20px;
    height: 2px;
    background: white;
    top: 19.5px;
    transition: all .4s;
  }

  .header label span:nth-child(1) {
    top: 14.5px;
    transition: all .4s;
  }

  .header  label span:nth-child(3) {
    top: 24.5px;
    transition: all .4s;
  }

  .header label:hover span {
    background:  #FFE640;
  }

  @keyframes lado {
    from {
      left: 0;
      background: transparent;
    }

    to {
      left: -100%;
    }
  }

  .header input:checked ~ label span:nth-child(2) {
    left: -100%;
    animation: lado .4s alternate;
  }

  .header input:checked ~ label span:nth-child(1) {
    transform: rotate(45deg);
    top: 19.5px;
  }

  .header input:checked ~ label span:nth-child(3) {
    transform: rotate(-45deg);
    top: 19.5px;
  }

  .header input:checked ~ .menu {
    top: 100%;
  }
}

/*intro*/
.intro {
  margin: 60px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/*intro titulo*/
.intro-titulo h1 {
  margin: 20px 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3.125em;
  line-height: 1;
  color: #3E64FF;
}

.intro-titulo h1 span {
  color: #FFBD24;
}

.intro-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.intro-info img {
  margin-right: 16px;
}

.info-nome {
  font-family: 'Nunito', sans-serif;
  font-size: 1.25em;
  color: #194E4E;
}

.info-desc {
  display: block;
  font-family: 'Nunito', sans-serif;
  font-style: italic;
  font-size: 0.875em;
  color: #37290E;
}

/*intro responsivo*/
@media (max-width: 1032px) {
  .intro {
    grid-template-columns: repeat(2, 1fr);
  }

  .intro-imagem img {
    max-width: 450px;
  }
}

@media (max-width: 820px) {
  .intro {
    grid-template-columns: 1fr;
    margin: 30px auto;
  }

  .intro-titulo {
    margin-bottom: 30px;
  }

  .intro-info img {
    width: 50px;
  }

  .info-nome {
    font-size: 1em;
  }

  .info-desc {
    font-size: 0.75em;
  }
}

@media (max-width: 480px) {
  .intro-titulo h1 {
    font-size: 2.125em;
  }

  .intro-imagem img {
    max-width: 280px;
  }
}

/*produtos*/
.produtos {
  margin: 60px auto;
  background: #3E64FF;
  border-radius: 20px;
  padding: 0px;
  box-shadow: 3px 3px 2px rgba(77,112,255,.11);
  position: relative;
}

@media (max-width: 1250px) {
  .produtos {
    margin: 30px 20px;
  }
}

/*promoções*/
.promocoes {
  background: #EDF1FF;
  border-radius: 20px;
  max-width: 210px;
  padding: 60px 30px;
  box-shadow: -3px 3px 2px rgba(77,112,255,.11);
  display: grid;
  align-content: center;
  position: relative;
}

.promocoes strong, h2 {
  text-align: center;
}

.promocoes h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.125em;
  color: #3E64FF;
  line-height: 1;
}

/*promoções itens*/
.promocoes form {
  margin: 0px auto 100px auto;
}

.promocoes form article {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promocoes form article span {
  font-family: 'Nunito', sans-serif;
  display: block;
  text-align: center;
  color: #45464D;
  margin: 6px auto;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.75em;
}

.promocoes form article img {
  cursor: pointer;
  border-radius: 50%;
  margin: 0 auto;
  transition: all .4s;
  border: 6px solid #EDF1FF;
}

.promocoes form article input[type="radio"]:checked ~ label span {
  color: #3E64FF;
}

.promocoes form article input[type="radio"]:checked ~ label img {
  border: 6px solid #3E64FF;
}

/*promoções aviso*/
.aviso {
  align-self: end;
  text-align: center;
}

.aviso p {
  margin: 20px auto;
  font-family: 'Nunito', sans-serif;
  color: #3E64FF;
  font-size: 1.25em;
}

.aviso span {
  color: #FFBD24;
}

 .btn-promocoes, .abrir-promocoes {
  display: none;
} 

/*produtos responsivo*/
@media (max-width: 1032px) {
  .produtos {
    margin: 30px 0px;
    border-radius: 0px;
  }

  .promocoes {
    position: relative;
    left: -230px;
    transition: all .4s;
    border-radius: 0 20px 20px 0;
    padding: 30px 10px;
  }

  .promocoes h2 {
    font-size: 1.875em;
  }

  .aviso p {
    font-size: 1em;
  }

  .btn-promocoes {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    background: #FFBD24;
    width: 138px;
    height: 40px;
    color: #3E64FF;
    text-transform: uppercase;
    transform: rotate(90deg);
    position: absolute;
    right: -89px;
    top: 100px;
    cursor: pointer;
    border-radius: 20px 20px 0 0;
  }

  .btn-promocoes span {
    background: #3E64FF;
    transition: all .4s;
    display: block;
    width: 30px;
    height: 4px;
    position: absolute;
    top: 20px;
  }

  .promocoes .btn-promocoes span:nth-child(1) {
    transform: rotate(-30deg);
    left: 42px;
  }

  .promocoes .btn-promocoes span:nth-child(2) {
    transform: rotate(30deg);
    right: 42px;
  }

  .abrir-promocoes:checked ~ .promocoes .btn-promocoes span:nth-child(1) {
    transform: rotate(30deg);
  }

  .abrir-promocoes:checked ~ .promocoes .btn-promocoes span:nth-child(2) {
    transform: rotate(-30deg);
  }


  .abrir-promocoes:checked ~ .promocoes {
    left: 0;
  }

}

/* focar na ideia de fazer uma janelinha para aplicar os descontos no responsivo */

/* 
/*produtos responsivo
@media (max-width: 1032px) {
  .promocoes {
    flex-direction: row;
    background: #EDF1FF;
    border-radius: 20px;
    padding: 20px;
    box-shadow: -3px 3px 2px rgba(77,112,255,.11);
    max-width: 100%;
    overflow-x: scroll;
    border-radius: 0px;
  }

  .promocoes form article img {
    display: flex;
  }

  .promocoes form {
    display: flex;
    margin: 0 auto;
  }

  .aviso {
    display: none;
  }

  /* .aviso {
    position: absolute;
    top: 100%;
  } 
}

/*
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/